/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blue-theme:#0284c7;
    --white-font: rgb(255,255,255);
    --grey-theme: #EBECF0;
    --grey-font: #868686;
    --box-shadow:  rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --card-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;

    height: 100vh;
}

.dashboard {
    grid-area: 1/1/-1/2;

    background-color: var(--blue-theme);
    color: var(--white-font);
    padding-top: 10px;
}

.tabWrapper {
    display: grid;
    grid-template-rows: repeat(12, 40px);
    position: fixed;
}

.tab {
    display: inline-grid;
    grid-template-columns: 70px 150px;
    align-content: center;
    
}

.dashboard img {
    height: 18px;
    align-self: center;
    place-self: center;
    position: relative;
    bottom: 2px;
}

.tab.logo img {
    height: 25px;
    align-self: center;
    place-self: center;
    position: relative;
    top: 1px;
}

.tab.logo p {
    font-size: 1.5rem;;
}

.navbar {
    grid-area: 1/2/2/-1;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 3fr;

    padding: 10px 30px 10px;
}

.searchbar {
    grid-area: 1/1/2/2;
}

.searchbarForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 10px;
}

.searchbarForm button {
    padding: 0px 10px;
    height: 50%;
    border: none;
    background-color: white;
    background-image: url(images/icons8-search-48.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.searchbarForm input {
    height: 50%;
    width: 80%;

    background-color: var(--grey-theme);
    border: none;
    border-radius: 10px;
}

.searchbarForm input:focus {
    outline:none;
}

.userGreet {
    grid-area: 2/1/3/2;

    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: flex-end;
}

.userGreet img {
    grid-column: 1/2;

    max-width: 100%;
    height: calc(75%);
    border-radius: 50%;
}

.userGreet .name {
    font-size: 1.5rem;
    padding-top: 5px;
    padding-bottom: 10px;
}

.userGreet .greet {
    font-size: 0.85rem;
}

.userProfile {
    display: grid;
    grid-template-columns: 50px 50px 100px;
    justify-self: end;
    justify-items: center;
    align-items: center;
    gap: 5px;

}

.userProfile button {
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: none;
    border: none;
}

.userProfile button.profile {
    background-image: url(images/ProfilePic.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.userProfile button.notification {
    background-image: url(images/icons8-alarm-48.png);
    height:60%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.quickAction {
    display: grid;
    grid-template-columns: repeat(3. 1fr);
    gap: 1.5rem;
    align-items: flex-end;
    padding-bottom: 10px;
}

.quickAction>button {
    grid-column: 1/2;
}

.quickAction>button+button {
    grid-column: 2/3;
}

.quickAction>button+button+button {
    grid-column: 3/4;
}

.quickAction button {
    background-color: var(--blue-theme);
    color: var(--white-font);
    border: none;
    border-radius: 40px;
    font-weight: bolder;
    height: 45px;
    min-width: 70px;
    width: 100%;
    font-size: 1rem;;
}

.content {
    grid-area: 2/2/-1/-1;
    background-color: var(--grey-theme);

    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 50px 1fr 50px 1fr 50px;
    gap: 20px;

    padding: 0px 30px;
}

.content .projectsTitle {
    grid-area: 1/1/2/2;
    align-self: flex-end;
}

.content .projects {
    grid-area: 2/1/5/2;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: auto;
    gap:20px;
    justify-content: space-between;
}

.content .projects .card {
    padding: 30px;

    display: grid;
    grid-template-rows: 1fr 40px;

    background-color: var(--white-font);
    border-radius: var(--card-radius);
    box-shadow: var(--box-shadow);
    border-left: 10px solid orange;
}

.card .textContent {
    grid-row: 1/2;
}

.card .textContent h3 {
    font-weight: bolder;
    font-size: 1.25rem;
}

.card .textContent p {
    font-size: 1rem;
    color: var(--grey-font)
}

.card .cardAction {
    grid-row: 2/3;

    justify-self: end;
    align-self: flex-end;
}

.card button {
    width: 30px;
    height: 30px;
    margin: 00px 10px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.card button.star {
    background-image: url(images/icons8-star-48.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.card button.collection {
    background-image: url(images/icons8-eye-48.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.card button.branch {
    background-image: url(images/icons8-merge-git-48.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.content .announcementsTitle {
    grid-area: 1/2/2/3;
    align-self: flex-end;
}

.content .announcements {
    grid-area: 2/2/3/3;
}

.content .trendingTitle{
    grid-area: 3/2/4/3;
    align-self: flex-end;
}

.content .trending {
    grid-area: 4/2/5/3;

    display:grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: flex-start;
    gap: 15px;

    padding: 15px 30px;
    background-color: var(--white-font);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-radius);
}

.trend {
    display: grid;
    grid-template-columns: minmax(60px, 1fr) 5fr;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    grid-template-rows: repeat(auto-fill, 1fr)
}

.trending img {
    grid-area: 1/1/3/2;
    align-self: center;

    max-width: 100%;
    aspect-ratio: 1;
    height:auto;
    border-radius: 50%;
}

.trending h3 {
    align-self: flex-end;
    font-size: 1.1rem;
    grid-area: 1/2/2/3;
}

.trending h3::before{
    content: "@";
}

.trending p {
    grid-area: 2/2/3/3;
    align-self: flex-start;

    font-size: 0.9rem;
    color: var(--grey-font)
}

.content .gap {
    grid-area: 5/1/6/-1;
}